@(userForm: Form[UserLogin])(implicit messages: Messages)

@import helper._

@main("Litter"){
	<link rel="stylesheet" href="https://www.w3schools.com/w3css/3/w3.css">
	<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
	<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
	<img src="@routes.Assets.versioned("images/litterbackground.jpg")" height=450 width=2000></img>
	<style>
	body,h1 {font-family: "Raleway", sans-serif}
	body, html {height: 100%;
		background-color: #93B874;}
	.bgimg {
		background-image: url('@routes.Assets.versioned("images/litterbackground.jpg")');
		min-height: 100%;
		background-position: center;
		background-size: cover;
	}
	</style>
  <div class='main'>
    <h2>Log in</h2>
    @helper.form(action = routes.LitterController.login){
      @helper.inputText(userForm("username"))
      @helper.inputPassword(userForm("passwd"))
      <input type='submit' value='Submit'>
    }
  </div>
  <hr>
  <div class='main'>
    <h3>New User</h3>
    @helper.form(action = routes.LitterController.newUser){
      @helper.inputText(userForm("username"))
      @helper.inputPassword(userForm("passwd"))
      <input type='submit' value='Submit'>
    }
  </div>
  	
  </body>
}
